.DS_Store
Wimme.xcworkspace/xcuserdata/mlody.xcuserdatad/UserInterfaceState.xcuserstate
Wimme/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/
Wimme/Wimme.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/
Wimme/Wimme.xcodeproj/xcuserdata/admin.xcuserdatad/
Wimme/Wimme.xcworkspace/xcuserdata/admin.xcuserdatad/